/* shared style */
.display-flex{
    display: flex;
}
.nav-title,
.nav-link,
.cam-title,
.cam-para {
    color: #3A3A3A;
}
/* mab related style */
.nav-title{
    
    font-weight: 700;
    font-size: 1.25rem;
}

.nav-bar{
    justify-content: space-between;

}
.nav-items{
    list-style: none;
    
}
.nav-links{
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
}
/* camera reltd section */
.cam-title{
    font-size: 3.25rem;
    font-weight: 700;

}
.cam-para{
    font-weight: 600;
    font-size: 1rem;
}
.btn-primary{
    background-color: #E02C6D;
    padding: 10px 24px;
    border-color: none;
    border-radius: 41px;
    font-weight: 700;
    font-size: 1rem;
    color: white;
}
.camera-part{
    justify-content: space-between;
}
.camera{
    background-image: url("Circle\ design.svg");
    
}
.logo-container{
   max-width: 1300px;
    margin: 30px 130px ;
    justify-content: space-around; 
}
/* collection related style */
.main-container{
    max-width: 1200px;
    margin: 0 auto;

}
.collection-title{
    text-align: center;
}
.collection-container{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
  
}
.collection-title{
    font-weight: 600;
    font-size: 1.75rem;
}
.card>h2{
    color: #18191F;
    margin-top: 16px;
    margin-bottom: 12px;
}
h4{
    margin: 0px 0px 27px 0px;
}
.card>p{
    font-weight: 700;
    font-size:0.75rem;
    color: #787885;
}
.card{
    padding: 15px;
    width: 340px;
    height: 470px;
    background-color: #FFFFFF;
}

/* responsive part */
@media screen and (max-width:576px ) {
    .nav-bar,.nav-items,.camera-part,.logo-container{
        flex-direction: column;
        align-items: center;
    }
    .logos,.camera-part{
        margin-bottom: 10px;
    }
    .nav-links{
        margin-bottom: 15px;
    }
    .main-container,.collection-container{
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
    }
}